/*COLOCAR BORDER-BOTTOM TITULO */

body{
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 97.3vh;
    background: linear-gradient(to right, #2b0166, #3700b3, #6200EE, #6645b1, #469191,#03DAC6 , #018786, #018786);
    background-size: 300% 300%;
    position: relative;
    animation: change 5s ease-in-out infinite;
}

#headerBody{
    width: 50%;
    margin: auto;
    text-align: center;
}

#title{
    margin: .5em;
    font-size: 3em;
    font-weight: 100;
    color: #03DAC6;
    text-shadow: -1px 1px 2px #6200EE, -2px 2px 2px #5102c0, -3px 2px 2px #4701a8, -4px 2px 10px #3e0292, -5px 2px 10px #2b0166;

}

#gitProject{
    margin-bottom: 1.5em;
}
#gitProject a{
    font-size: 1.5em;
    text-decoration: none;
    color: #03DAC6;
    letter-spacing: 2px;
    text-shadow: -1px 1px 5px #6200EE, -2px 2px 5px #5102c0, -3px 2px 5px #4603a3;

}

#bodyRadiusCustom{
    margin: auto;
    width: 32em;
    height: 27em;
    border-radius: 0% 0% 0% 0%;
}

#imageInternal{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    border-radius: 0px;
}

#textBorderRadius p{
    border-bottom: #008888 1px solid;
    border-radius: 10px;
    width: 25%;
    margin:  6em auto .5em auto;
    text-align: center;
    font-size: 1.5em;
    padding: .7em;
    background: linear-gradient(-45deg, #6645b1, #469191);
    color: #03DAC6;
    text-shadow: -1px 1px 2px #6200EE, -2px 2px 2px #5102c0, -3px 2px 2px #4701a8, -4px 2px 10px #3e0292, -5px 2px 10px #2b0166;
}

#copy{
    display: block;
    padding:0.4em;
    margin: auto;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    background: linear-gradient(to right, #6645b1, #469191);
    color: #04d3be;
    text-shadow: -1px 1px 2px #6200EE, -2px 2px 5px #5102c0, -3px 2px 5px #4701a8, -4px 2px 10px #3e0292, -5px 2px 10px #2b0166;
    transition-duration: .2s;
}

#copy:focus, #copy:active{
    outline: none;
}

#copy:active{
    box-shadow: 0px 0px 5px 5px #488282;
}

#topLeftBorder, #bottomLeftBorder, #topRightBorder, #bottomRightBorder{
    width: 2.5em;
    border-radius: 50px;
    border: 0;
    text-align: center;
    transition-duration: 0.2s;
}

#topLeftBorder:focus, #bottomLeftBorder:focus, #topRightBorder:focus, #bottomRightBorder:focus{
    outline: none;
    text-align: center;
}

#topLeftBorder:focus, #bottomLeftBorder:focus{
    box-shadow: #6200EE 0px 0px 5px 4px;
}
#topRightBorder:focus, #bottomRightBorder:focus{
    box-shadow: #03DAC6 0px 0px 3px 2px;
}


#topLeftBorder{
    transform: translate(-72px, 25px);
}

#bottomLeftBorder{
    transform: translate(-120px, 510px);
}

#topRightBorder{
    transform: translate(537px, -510px);
}

#bottomRightBorder{
    transform: translate(490px, -30px);
}


#footer{
    position: absolute;
    bottom: -1px;
    left: 39%;
    text-align: center;
    font-size: 1.1em;
    font-weight: 100;
    color: #7ccac2;
    text-shadow: -1px 1px 2px #390088, -2px 2px 2px #300172;
}

#footerText{    
    margin: 0em;
}

#freepik{
    margin: 0;
    font-size: 0.9em;
}
#footerBody a{
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 100;
    color: #7ccac2;
    text-shadow: -1px 1px 2px #390088, -2px 2px 2px #300172;
    
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
}